body{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

#emoji{
    font-size: 6rem;
    filter: grayscale(1);
    cursor: pointer;
    transition-property: transform, filter;
    transition-duration: 250ms;
}

#emoji:hover{
transform: scale(1.4);
filter: grayscale(0)
}